* {
  box-sizing: border-box;
}

body {
  width: auto;
  /*max-width: 38rem;*/
  max-width: 50rem;
  margin: auto;
  padding: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-container {
  width:100%;
  margin: 10px auto;
  padding: 32px;
  background-color: white;
  position: relative;
}

.product-listing {
  margin-top: 50px;

}

.product-listing .product-list-item {
  width: auto;
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid #dcdcdc;
}

.product-listing .product-list-item h3 {
  font-size: 1.4rem;
}

.product-listing .product-list-item img {
  width: auto;
  height: auto;
}

.product-listing .product-list-item .partNo{
  margin-bottom: 10px;
}

.product-listing .product-list-item .itemWrap {
  padding: 15px 0px!important;
}

button {
  background-color: #ffce00;
  border: none;
  padding: 10px 30px;
  margin-top: 12px;
  font-size: 1em;
  font-weight: bold;
}

button:focus {
  outline: none!important;
}

button:active {
  outline: none!important;
  background-color: #ffdd53;
}

.price {
  color: #cb0832;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 8px;
  padding: 0;
}

nav {
  background-color: #f6f6f6!important;
  margin-bottom: 1em;
  vertical-align: middle;
}

ul.top-menu {
  margin: 0;
  height: 54px;
  vertical-align: middle;
  padding: 15px 40px;
  color: #b7b7b7;
}

ul.top-menu li {
  display: inline-block;
}

ul.top-menu li a {
  color:#333333;
  font-weight: 500;
}

ul.top-menu li a:focus {
  color: #cb0832;
}

ul.top-menu li:before {
  content: '|';
  margin: 0 14px;

}

ul.top-menu li:nth-child(1):before {
  content: '';
  margin: 0;
}

.cart-order-wrapper {
  margin-bottom: 4em;
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 2em;
}
.mycart h2 {
  font-size: 1.6rem;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

.orderproductlist {
  padding: 5px 0;
  width: 100%;
}
.orderproductlist .cartitem {
  font-size: 13px;
  font-weight: 800;
  color: #373737;
  text-decoration: underline;
  margin: 0;
  padding-bottom: 5px;
}

.orderproductlist .cartpartNo {
  font-size: 13px;
  margin: 0;
  padding-bottom: 5px;
  color: #666;
}
.orderproductlist .cartprice {
  color: #c03;
  font-size: 14px;
  font-weight: 900;
}
.orderqty {
  max-width: 8%;
  border: 1px solid #ccc;
  vertical-align: middle;
  text-align: center;
  padding: 4px;
}
.orderqty-btns {
  margin: 6px 0px;
}
.orderqty-btns button {
  padding: 4px 12px;
  margin: 4px 8px 10px 0px;
  width: 35px;
}